Instalación de librerías necesarías para la practica.

In [7]:
!pip install dalex

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dalex
  Downloading dalex-1.6.0.tar.gz (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 16.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from dalex) (67.6.1)
Requirement already satisfied: pandas>=1.2.5 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.4.4)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.22.4)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.10.1)
Requirement already satisfied: plotly>=5.1.0 in /usr/local/lib/python3.9/dist-packages (from dalex) (5.13.1)
Requirement already satisfied: tqdm>=4.61.2 in /usr/local/lib/python3.9/dist-packages (from dalex) (4.65.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.5->dalex) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.5->dalex) (2.8.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=5.1.0->dalex) (8.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.5->dalex) (1.16.0)
Building wheels for collected packages: dalex
  Building wheel for dalex (setup.py) ... done
  Created wheel for dalex: filename=dalex-1.6.0-py3-none-any.whl size=1046022 sha256=a9f0e4802fa920a8a76e22bf7e003338e890695c4d1c5130304e318848729d19
  Stored in directory: /root/.cache/pip/wheels/3e/dc/80/530757389f7587f2b1cd02e5a0a11dd986b232b06eacebcf8d
Successfully built dalex
Installing collected packages: dalex
Successfully installed dalex-1.6.0

In [ ]:
!pip install --upgrade dalex

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dalex in /usr/local/lib/python3.9/dist-packages (1.6.0)
Requirement already satisfied: plotly>=5.1.0 in /usr/local/lib/python3.9/dist-packages (from dalex) (5.13.1)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.10.1)
Requirement already satisfied: tqdm>=4.61.2 in /usr/local/lib/python3.9/dist-packages (from dalex) (4.65.0)
Requirement already satisfied: pandas>=1.2.5 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.4.4)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from dalex) (1.22.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from dalex) (67.6.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.5->dalex) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.5->dalex) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=5.1.0->dalex) (8.2.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.5->dalex) (1.16.0)

In [2]:
!pip install safe-transformer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting safe-transformer
  Downloading safe_transformer-0.0.5-py3-none-any.whl (14 kB)
Collecting kneed
  Downloading kneed-0.8.2-py3-none-any.whl (10 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from safe-transformer) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from safe-transformer) (1.4.4)
Collecting ruptures
  Downloading ruptures-1.1.7-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 14.9 MB/s eta 0:00:00
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from safe-transformer) (1.10.1)
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->safe-transformer) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->safe-transformer) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->safe-transformer) (1.16.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2955 sha256=2297c425bf04af0f4deab18c6ec502da7a846d83c060ffca8bc80cf742ba7609
  Stored in directory: /root/.cache/pip/wheels/f8/e0/3d/9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn, ruptures, kneed, safe-transformer
Successfully installed kneed-0.8.2 ruptures-1.1.7 safe-transformer-0.0.5 sklearn-0.0.post1

#Se declaran las librerías que se usaran

In [66]:
import pandas as pd
import numpy as np
from dalex import model_explanations
from SafeTransformer import SafeTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt

#Visualización y limpieza

In [15]:
np.random.seed(123)

df_H1 = pd.read_csv("H1.csv")
df_H1

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,0,212,2017,August,35,31,2,8,2,1,...,No Deposit,143,NULL,0,Transient,89.75,0,0,Check-Out,2017-09-10
40056,0,169,2017,August,35,30,2,9,2,0,...,No Deposit,250,NULL,0,Transient-Party,202.27,0,1,Check-Out,2017-09-10
40057,0,204,2017,August,35,29,4,10,2,0,...,No Deposit,250,NULL,0,Transient,153.57,0,3,Check-Out,2017-09-12
40058,0,211,2017,August,35,31,4,10,2,0,...,No Deposit,40,NULL,0,Contract,112.80,0,1,Check-Out,2017-09-14
40059,0,161,2017,August,35,31,4,10,2,0,...,No Deposit,69,NULL,0,Transient,99.06,0,0,Check-Out,2017-09-14

In [13]:
df_H2 = pd.read_csv("H2.csv")
df_H2

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.00,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.00,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.50,0,1,Canceled,2015-04-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79325,0,23,2017,August,35,30,2,5,2,0.0,...,No Deposit,394,NULL,0,Transient,96.14,0,0,Check-Out,2017-09-06
79326,0,102,2017,August,35,31,2,5,3,0.0,...,No Deposit,9,NULL,0,Transient,225.43,0,2,Check-Out,2017-09-07
79327,0,34,2017,August,35,31,2,5,2,0.0,...,No Deposit,9,NULL,0,Transient,157.71,0,4,Check-Out,2017-09-07
79328,0,109,2017,August,35,31,2,5,2,0.0,...,No Deposit,89,NULL,0,Transient,104.40,0,0,Check-Out,2017-09-07
79329,0,205,2017,August,35,29,2,7,2,0.0,...,No Deposit,9,NULL,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [21]:
df_H1.dtypes

IsCanceled                       int64
LeadTime                         int64
ArrivalDateYear                  int64
ArrivalDateMonth                object
ArrivalDateWeekNumber            int64
ArrivalDateDayOfMonth            int64
StaysInWeekendNights             int64
StaysInWeekNights                int64
Adults                           int64
Children                         int64
Babies                           int64
Meal                            object
Country                         object
MarketSegment                   object
DistributionChannel             object
IsRepeatedGuest                  int64
PreviousCancellations            int64
PreviousBookingsNotCanceled      int64
ReservedRoomType                object
AssignedRoomType                object
BookingChanges                   int64
DepositType                     object
Agent                           object
Company                         object
DaysInWaitingList                int64
CustomerType                    object
ADR                            float64
RequiredCarParkingSpaces         int64
TotalOfSpecialRequests           int64
ReservationStatus               object
ReservationStatusDate           object
dtype: object

In [22]:
df_H2.dtypes

IsCanceled                       int64
LeadTime                         int64
ArrivalDateYear                  int64
ArrivalDateMonth                object
ArrivalDateWeekNumber            int64
ArrivalDateDayOfMonth            int64
StaysInWeekendNights             int64
StaysInWeekNights                int64
Adults                           int64
Children                       float64
Babies                           int64
Meal                            object
Country                         object
MarketSegment                   object
DistributionChannel             object
IsRepeatedGuest                  int64
PreviousCancellations            int64
PreviousBookingsNotCanceled      int64
ReservedRoomType                object
AssignedRoomType                object
BookingChanges                   int64
DepositType                     object
Agent                           object
Company                         object
DaysInWaitingList                int64
CustomerType                    object
ADR                            float64
RequiredCarParkingSpaces         int64
TotalOfSpecialRequests           int64
ReservationStatus               object
ReservationStatusDate           object
dtype: object

In [23]:
df_H1.isna().sum()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
dtype: int64

In [24]:
df_H2.isna().sum()

IsCanceled                      0
LeadTime                        0
ArrivalDateYear                 0
ArrivalDateMonth                0
ArrivalDateWeekNumber           0
ArrivalDateDayOfMonth           0
StaysInWeekendNights            0
StaysInWeekNights               0
Adults                          0
Children                        4
Babies                          0
Meal                            0
Country                        24
MarketSegment                   0
DistributionChannel             0
IsRepeatedGuest                 0
PreviousCancellations           0
PreviousBookingsNotCanceled     0
ReservedRoomType                0
AssignedRoomType                0
BookingChanges                  0
DepositType                     0
Agent                           0
Company                         0
DaysInWaitingList               0
CustomerType                    0
ADR                             0
RequiredCarParkingSpaces        0
TotalOfSpecialRequests          0
ReservationStatus               0
ReservationStatusDate           0
dtype: int64

Se hace le proceso primero para H1

In [43]:
#Se quitan las columnas con elementos NULL
hotel_bookings = df_H1.loc[:, df_H1.notna().all()]
# Y las columnas irrelevantes no numericas para la predicción
hotel_bookings = hotel_bookings.drop(columns=["ReservationStatus", "ReservationStatusDate", "Company", "Agent","ArrivalDateMonth","Meal","MarketSegment","DistributionChannel","ReservedRoomType","AssignedRoomType","DepositType","CustomerType"])
hotel_bookings = hotel_bookings.sample(n=20000, random_state=123)

In [44]:
hotel_bookings.dtypes
#Solo nos quedamos con las variables numericas

IsCanceled                       int64
LeadTime                         int64
ArrivalDateYear                  int64
ArrivalDateWeekNumber            int64
ArrivalDateDayOfMonth            int64
StaysInWeekendNights             int64
StaysInWeekNights                int64
Adults                           int64
Children                         int64
Babies                           int64
IsRepeatedGuest                  int64
PreviousCancellations            int64
PreviousBookingsNotCanceled      int64
BookingChanges                   int64
DaysInWaitingList                int64
ADR                            float64
RequiredCarParkingSpaces         int64
TotalOfSpecialRequests           int64
dtype: object

In [45]:
n = hotel_bookings.shape[0]
train_idx = np.random.choice(n, int(0.8 * n), replace=False)
train = hotel_bookings.iloc[train_idx]
test = hotel_bookings.iloc[np.setdiff1d(np.arange(n), train_idx)]

In [46]:
x_train = train.drop(columns=["IsCanceled"])
y_train = train["IsCanceled"]

x_test = test.drop(columns=["IsCanceled"])
y_test = test["IsCanceled"]

#Creación de random forest

In [53]:
### Random Forest ###

# Crear un modelo de Random Forest
model = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=123)

# Entrenar el modelo con los datos de entrenamiento
model.fit(x_train, y_train)

# Predecir la probabilidad de que cada registro del conjunto de entrenamiento sea de la clase positiva (y = 1)
pred_train = model.predict_proba(x_train)[:, 1]

# Calcular el AUC-ROC del modelo con los datos de entrenamiento
roc_auc_train = roc_auc_score(y_train, pred_train)
print('AUC-ROC en entrenamiento: {:.2f}'.format(roc_auc_train))

#Se predice las veces que un cliente pueda cancelar su reserva 
pred_test = model.predict_proba(x_test)[:, 1]
print("Predicciónes del modelo:"+ str(pred_test))
#Se usan ahora los datos de prueba para el AUC-ROC
roc_auc_test = roc_auc_score(y_test, pred_test)
print('AUC-ROC en prueba: {:.2f}'.format(roc_auc_test))

AUC-ROC en entrenamiento: 0.88
Predicciónes del modelo:[0.06262771 0.00537389 0.07354657 ... 0.04396817 0.29629015 0.35238848]
AUC-ROC en prueba: 0.84

#Modelo lineal

In [54]:
### Linear model ###
from sklearn.preprocessing import StandardScaler

# Escalando los datos
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# Creando el modelo
model_lm1 = LogisticRegression(random_state=123, max_iter=500)
model_lm1.fit(x_train_scaled, y_train)

# Haciendo predicciones y evaluando
pred_train = model_lm1.predict_proba(x_train_scaled)[:,1]
1 - roc_auc_score(y_train, pred_train)

pred_test = model_lm1.predict_proba(x_test_scaled)[:,1]
1 - roc_auc_score(y_test, pred_test)

0.22150711689286628

#Proceso SAFE

In [57]:
### SAFE ###
safe = SafeTransformer(model=LogisticRegression())
safe.fit(X=x_train, y=y_train)

train_trans_new = safe.transform(x_train)
test_trans_new = safe.transform(x_test)

model_glm = LogisticRegression(random_state=123)
model_glm.fit(X=train_trans_new, y=y_train)

pred_train = model_glm.predict_proba(train_trans_new)[:,1]
1 - roc_auc_score(y_train, pred_train)

pred_test = model_glm.predict_proba(test_trans_new)[:,1]
1 - roc_auc_score(y_test, pred_test)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.3876476409549774

# Visualización del modelo

PENDIENTE

AHORA  SE HACE LA PRUEBA UTILIZANDO el metodo safe con el dataset H2

In [62]:
#Se quitan las columnas con elementos NULL
hotel_bookings = df_H1.loc[:, df_H2.notna().all()]
hotel_bookings = hotel_bookings.drop(columns=["ReservationStatus", "ReservationStatusDate", "Company", "Agent","ArrivalDateMonth","Meal","MarketSegment","DistributionChannel","ReservedRoomType","AssignedRoomType","DepositType","CustomerType"])
hotel_bookings = hotel_bookings.sample(n=20000, random_state=123)

In [63]:
n = hotel_bookings.shape[0]
train_idx = np.random.choice(n, int(0.8 * n), replace=False)
train = hotel_bookings.iloc[train_idx]
test = hotel_bookings.iloc[np.setdiff1d(np.arange(n), train_idx)]

In [64]:
x_train = train.drop(columns=["IsCanceled"])
y_train = train["IsCanceled"]

x_test = test.drop(columns=["IsCanceled"])
y_test = test["IsCanceled"]

In [65]:
### SAFE ###
safe = SafeTransformer(model=LogisticRegression())
safe.fit(X=x_train, y=y_train)

train_trans_new = safe.transform(x_train)
test_trans_new = safe.transform(x_test)

model_glm = LogisticRegression(random_state=123)
model_glm.fit(X=train_trans_new, y=y_train)

pred_train = model_glm.predict_proba(train_trans_new)[:,1]
1 - roc_auc_score(y_train, pred_train)

pred_test = model_glm.predict_proba(test_trans_new)[:,1]
1 - roc_auc_score(y_test, pred_test)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.30181606429332697